html
	head
		include ./component/head
		.p-3.mb-2.bg-primary.text-white
			h3="Capstone Design Arduino Temperature"
	body
		.container
			each i in result.data
				.p-3.mb-2.bg-warning.text-white
						li.h5=i
					


