<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>

var dataa = <%-JSON.stringify(result)%>;
console.log(dataa);
var result=[];
for(var i=0;i<dataa;i++){
	
var resulttmp = [];
resulttmp.push(new Date(dataa[i].daytime));
resulttmp.push(dataa[i].temper);
result.push(resulttmp);
}
	console.log("\nCHECK  ",result,"\nend\n\n");
      google.charts.load('current', {'packages':['corechart','chart']});
      google.charts.setOnLoadCallback(drawBasic);

    	function drawBasic() {
		var data = new google.visualization.DataTable();
	      	data.addColumn('datetime', 'X');
      		data.addColumn('number', 'Temperature');
      		data.addRows(result);
      		var options = {
        		hAxis: {
 	         	title: 'Time'
        		},
        		vAxis: {
	          	title: 'Temperature'
        		},
			legend : {position : 'bottom'},
			//width : 800,
			//height : 300,
			pointSize : 5
      		};
      	};
	chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      	chart.draw(data, options);
</script>
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>
</html>
